<div class="header">
    <div class="logo-area"></div>
    <div class="page-title">
        <span class="line"></span>
        <img src="../assets/img/f1_logo.svg" style="margin-top: 12px; margin-left: 12px;">

        
    </div>
    <div class="user">
        <ul>            
            <!-- <li > -->
                <!-- <fa-icon [icon]="filmIcon"></fa-icon> -->
            <!-- </li> -->
            <!-- <li >{{role}}</li>
            <li (click)="onClickLogout()">Logout</li> -->
        </ul>
    </div>
</div>