<div class="header_1">
    <!-- <i class="fas fa-arrow-left"></i>
     -->
     <!-- <fa-icon [icon]="fa-arrow-left"></fa-icon> -->
     <!-- <div> -->
         <ul id="back-ar">
             <li>
                <span (click)= "backToDesk1()">&#8592;</span> 
             </li>
             <li>
                Create a new Order
             </li>
         </ul>

</div>
<div class="container-fluid">
    <div class="row mt-5" (click)="newItem();">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title">Configure your door from scratch</h5>
                <h6 class="card-subtitle mb-2 text-muted">Residential, Commercial, Entry doors</h6>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="col-md-12">
            <div class="card-body col-md-10">
                <h5 class="card-title">Parts / Openers</h5>
                <h6 class="card-subtitle mb-2 text-muted">Order Parts and Openers</h6>
            </div>
            <!-- <div class="col-md-2"><i class="arrow right"></i></div> -->
        </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mt-5" >
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title">Direct Item Entry</h5>
                <h6 class="card-subtitle mb-2 text-muted">Order Parts / Openers using a Product ID</h6>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title">Choose from favourites</h5>
                <h6 class="card-subtitle mb-2 text-muted">Re-order door from your favourites</h6>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>
